@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Correcto</title>
</head>
<body>
    <div>
        <p>Los Datos de Los Estudiantes Fueron Cargados Correctamente.</p>
        @Html.ActionLink("Retorna","Index")
    </div>
</body>

</html>


